html, body { 
	margin:0; 
	padding:0; 
	background-color: #a5bfdd;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width:  100%; 
    height: 100%; 
}

.vmap {
	position: absolute;
    width: 100%; 
    height: 100%;
    left: 0%;
    top: 0%;
}

.selection {
	/*min-height: 200px;*/
	position: absolute;
	box-shadow: 0 5px #27496d;
	display: inline-block;
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300; 
	text-shadow: 2px 2px 8px yellow;
	line-height: 5px;
	font-size: .8em;
	color: white;
	width: 200px;
	border-radius: 15px;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.6); 
	margin: 0px 0 0 -100px;
	right: 0%;
	top: 0%;
}

#selecTitle {
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300; 
	text-shadow: 2px 2px 8px red;
	line-height: 5px;
	font-size: 1.3em;
	color: orange;
}

button.selecBtn {
	font-size: 1em;
	color: #fff;
	padding: 4px 6px;
	background-color: #417cb8;
	outline: none;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3px #27496d;
}

button.selecBtn:hover,
button.selecBtn.hover {
	background-color: #6496c8; 
}

button.selecBtn:active,
button.selecBtn.active {
	border: none;
	background-color: #417cb8;
	box-shadow: 0 5px #27496d;
	transform: translateY(4px);
}

#graph {
	position: relative;
}