.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width:  100vw; 
    height: 100vw; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.vmap {
	position: absolute;
	margin:0 auto;
	margin-left:-300px;
	margin-top:-200px;
    width: 600px; 
    height: 400px;
    left:50%;
    top:20%;
}

.countrygraph * {

}

#countries {
	position: relative;
	text-align:center;
}
#graph {
	position: relative;
	text-align:center;
}
input[type="text"] {
	width: 500px;
	padding: 5px;
	border: solid 1px #fff;
	box-shadow: inset 1px 1px 2px 0 #707070;
	transition: box-shadow 0.3s;
	background-color: darkgray;
	color: blackgreen;
	font-size: 100%;
	text-align: center;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
#button {
	border: solid 1px #fff;
	margin:1;
	padding:4.5;
	font-size: 100%;
}